/node_modules
/vendor
.env
.env.local
.env.production
.env.development
.phpunit.result.cache
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
.vscode
/out
/.next/
